results.numbers
entrenamiento/models/poblaciones_limpio_001
entrenamiento/models/poblaciones_limpio_002
entrenamiento/models/poblaciones_limpio_003
entrenamiento/models/poblaciones_limpio_004
entrenamiento/models/poblaciones_limpio_005
entrenamiento/models/poblaciones_limpio_006
entrenamiento/models/poblaciones_limpio_007
entrenamiento/models/poblaciones_limpio_008
